@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body {
    background-color: black;
  }
  
  h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  
  p {
    color: white;
  }
  
  section {
    margin: 100px auto;
  }
  
  #transform-world {
    height: 560px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
    text-transform: uppercase;
  }
  
  #transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
  }
  
  #professional-challenges {
    text-align: center;
    width: 800px;
  }
  
  #professional-challenges img {
    margin: 32px 0;
  }
